.aladin-container {
  border: none;
}

canvas {
  border-radius: 10px;
}

.zoomPlus, .zoomMinus {
  color: white !important;
  background: rgb(56 56 56) !important;
  width: 23px !important;
  height: 23px !important;
  border: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aladin-location,
.aladin-fov,
.aladin-gotoControl-container, 
.aladin-layersControl-container {
  display: none !important;
}

.wrapper, #aladin-lite-div {
  width: 400px;
  height: 400px;
  position: relative;
  border-radius: 15px;
}

.screen {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: transparent;
}

@media only screen and (max-width: 450px) {
  .wrapper, #aladin-lite-div {
    width: 100%;
    height: 290px;
  }
}