:root {
  --background: rgb(24, 24, 26);
  --dark-text: rgb(192, 192, 192);
}

.App, #root, body, html {
  text-align: center;
  height: 100%;
}

body {
  background-color: var(--background);
}

.header {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgb(66, 66, 66);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header h1 {
  font-size: 22px;
}

.btns {
  position: absolute;
  right: 0;
  margin-right: 25px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.btns button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 25px;
}

h3 {
  color: var(--dark-text);
  margin-bottom: 0;
  margin-top: 40px;
}

.container {
  margin: 0 auto;
  width: max-content;
  min-height: calc(100% - 200px);
  padding-bottom: 60px;
}

.footer{
  height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgb(66, 66, 66);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10px;
}

.footer span {
  color: var(--dark-text);
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 17px !important;
  }

  h3 {
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    margin-top: 10px;
  }

  .info {
    display: none;
  }

  .container {
    min-height: calc(100% - 123px);
  }
}