:root {
  --background: rgb(24, 24, 26);
  --dark-text: rgb(192, 192, 192);
  --line-color: rgb(66, 66, 66);
}

.App, #root, body, html {
  text-align: center;
  height: 100%;
}

body {
  background-color: var(--background);
  overflow-y: scroll;
}

.header {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--line-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header h1 {
  font-size: 22px;
}

h1 span {
  color: rgb(47, 104, 228);
}

.btns {
  position: absolute;
  right: 0;
  margin-right: 25px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.btns button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 25px;
}

h3 {
  color: var(--dark-text);
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 17px;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  width: max-content;
  min-height: calc(100% - 200px);
  padding-bottom: 60px;
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 19px !important;
  }

  h3 {
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    margin-top: 10px;
  }

  .btns {
    column-gap: 1px;
  }
  
  .btns button {
    font-size: 22px;
  }

  .container {
    min-height: calc(100% - 123px);
    max-width: 100vw;
  }

  input, .selection, .result, .results {
    max-width: 290px;
  }

  #aladin-lite-div {
    max-width: 100vw !important;
  }
}