input, .selection, .result {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #2c2c32;
  color: var(--dark-text);
  text-align: center;
  padding: 5px 5px;
  margin: 5px auto;
  outline: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

input {
  width: 310px;
}

input:focus {
  border: 2px solid var(--dark-text);
}

.selection {
  background-color: #0b0b0c;
  width: 310px;
}

.results, .selections {
  margin: 15px auto;
  width: 310px;
}

.results {
  border-radius: 5px;
  padding: 5px 5px;
  background-color: #2c2c32;
  min-height: 100px;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.results::-webkit-scrollbar {
  background-color: transparent !important;
  width: 10px;
}

.results::-webkit-scrollbar-thumb {
  background-color: var(--dark-text) !important;
  border-radius: 3px;
}

.result {
  border-radius: 0%;
  border-bottom: 1px solid var(--background);
}

.correct {
  color: rgb(47, 104, 228);
}

h3.correct {
  margin-top: 15px;
}