.header {
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--line-color);
  display: flex;
  align-items: center;
  position: relative;
}

.header h1 {
  font-size: 22px;
}

h1 span {
  color: rgb(47, 104, 228);
}

.btns {
  margin-right: 25px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.btns button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 25px;
}

a {
  color: rgb(62, 123, 255);
}

.statistics, .information {
  position: fixed;
  width: 100%;
  z-index: 115;
  top: 0;
  background-color: var(--background);
  height: 100vh;
  text-align: left;
  font-size: 15px;
}


.statistics .h3, .information .h3 {
  text-align: center;
  margin: 5px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--line-color);
  width: 100vw !important;
  font-size: 24px;
  color: white;
}

.x {
  position: absolute;
  font-size: 22px;
  right: 0;
  top: 0;
  margin-right: 10px;
  margin-top: 2px;
  cursor: pointer;
}

.statistics span {
  font-size: 22px;
  color: rgb(62, 123, 255);
}

.stat {
  width: 90px;
  height: 90px;
  margin-top: 15px;
  text-align: center;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  row-gap: 15px;
  flex-wrap: wrap;
  padding: 10px;
  max-width: 500px;
  margin: 0 auto;
}

.information .content {
  max-width: 500px;
  margin: 10px auto;
  padding: 0 10px;
}

.divider {
  margin: 15px 0;
  padding-top: 15px;
  border-top: 1px solid var(--line-color);
}

.btns {
  max-width: 85px;
}

.space {
  width: 85px;
  margin-left: 25px;
}